<nz-card nzHoverable>
  <nz-row [nzGutter]="[16, 16]" nzJustify="space-between" nzAlign="middle">
    <nz-col [nzSpan]="8">
      <form nz-form [formGroup]="filterForm">
        <input
          nz-input
          formControlName="search"
          placeholder="Search by supplier or PO number"
        />
      </form>
    </nz-col>
    <nz-col>
      <button nz-button nzType="primary" (click)="openCreateDrawer()">
        <span nz-icon nzType="plus"></span>
        New Purchase
      </button>
    </nz-col>
  </nz-row>
</nz-card>

<div #pqGridContainer style="width: 100%"></div>
