<nz-card nzHoverable>
  <form nz-form [formGroup]="filterFormStructure">
    <nz-row [nzGutter]="[16, 16]" nzJustify="space-between" nzAlign="middle">
      <nz-col [nzSpan]="8">
        <input
          nz-input
          formControlName="search"
          placeholder="Search category"
        />
      </nz-col>
      <nz-col>
        <button nz-button nzType="primary" (click)="openCreateDrawer()">
          <span nz-icon nzType="plus"></span>
          New Category
        </button>
      </nz-col>
    </nz-row>
  </form>
</nz-card>

<div style="width: 100%; height: 500px;">
  <div #pqGridContainer></div>
</div>
